body{
    
    font-family: Futura;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #f00000;
    background-color: #eeeeee;
    border-color: #ddd;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #000000;
    border-color: #000000;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
a{color: #333;}
a:hover{
    color:red;
    text-decoration: none;
}

.button5 {
    background-color: rgb(227,38,34);
    color: white;
        display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   

}

.button5:hover {
    background-color: black;
    color: white;
}

.consultas h2{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.breadcrumb{
    margin-top: 50px;
}

.container-home{
    display: flex;
  justify-content: center;
  align-items: center;
 
}

.container-carts{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
   
}

.container-carts .card{
    position: relative;
    cursor: pointer;
}

.container-carts .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-carts .card .face.face1{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-carts .card:hover .face.face1{
    background: red;
    transform: translateY(0);
    opacity: 0.8;
}

.container-carts .card .face.face1 .content{
/*    opacity: 0.2;*/
    transition: 0.5s;
}

.container-carts .card:hover .face.face1 .content{
    opacity: 1;
}

.container-carts .card .face.face1 .content img{
    max-width: 100px;
}

.container-carts .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container-carts .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-carts .card:hover .face.face2{
    transform: translateY(0);
}

.container-carts .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container-carts .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    
}

.container-carts .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    

}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#ColorH{
    background-color: #020202!important;
    height: 100px;

}

#ColorH a:hover{
    background-color: none;
    color:#E22520;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #020202!important;
    color:white;
}

.navbar-inverse .navbar-nav > li > a{
    color:white;
}

.navbar-brand img{
    position: relative;
    bottom: 40px;
    width: 150px!important;
}


.nav >li>a{
    background-color: #020202!important;
}

#ColorH-collapse{
    margin-top: 25px!important;

}



.footerdark {
    
    padding:50px 0;
    color:red;
    background-color:black;
    width: 100%;
    
}

.footerdark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footerdark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    color: white;
}

.footerdark ul a {
    color:inherit;
    text-decoration:none;
    /*  opacity:0.6;*/
}

.footerdark ul a:hover {

    color: red;
}



.footerdark .item.text {
    margin-bottom:36px;
}



.footerdark .item.text p {

    margin-bottom:0;
}

.footerdark .item.social {
    text-align:left;
}



.footerdark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:white;
    /*  opacity:0.75;*/
}

.footerdark .item.social > a:hover {
    color:red;
}

.footerdark .copyright {
    text-align:center;
    padding-top:24px;
    /*  opacity:0.3;*/
    font-size:13px;
    border-top: white 1px solid;
    margin-top: 10px;

}

#logofooter{
    width: 200px;
    position: relative;
    bottom: 54px;
}

.footerdark p{
    color:white;
}

.footerdark .copyright p{
    color:red;
}

#campeonfooter{
    width:700px;
    position: relative;
    left: 15px;
    bottom: 178px;

}

#imagenchamp{
    height: 225px!important;
    
    margin-top: 10px;

}

#imglobal{
    width: 100%;
}

.container-fluid{

    padding-left: 0px;
    padding-right: 0px;

}

.btn btn-success{
    color: #fff !important;
    background-color: #e2251f!important;
    border-color: black;
}
